fastapi==0.115.6
uvicorn==0.34.0
email-validator
supabase>=2.0.0
python-jose[cryptography]==3.3.0
bcrypt==4.1.2
python-multipart==0.0.20
pydantic==2.10.5
pydantic-settings==2.7.1
boto3==1.35.94
langchain-groq==0.2.1
langchain==0.3.13
PyPDF2==3.0.1
